$zindex: (
    subnav                  : 9003,
    search-bar-icon         : 9002,
    search-bar              : 9001,
    mega-menu               : 9000,
    featured-box-cta        : 8999,
    testimonial-content     : 401,
    testimonial-image       : 400,
    change-your-world       : 200
);
